  <% if usuario_actual %>
    <%if usuario_actual.dependencium.descripcion != "usuarioNormal"%>
            <div class="int">
        <%= form_with  url: "/prueba_comentario", method: "POST" do |form| %>

          <div class="input-field">
            <%= form.label :fecha %>
            <%= form.text_field :fecha, :class => 'datepicker' %>
          </div>

          <div class="field">
            <%= form.label :comentario %>
            <%= form.text_field :comentario %>
          </div>

          <div class="field">
            <%= form.text_field :depactual, :value=>params[:depAc], :hidden=>true%>
          </div>

          <div class="field">
            <%= form.text_field :depanterior, :value=>params[:depAn], :hidden=>true%>
          </div>

          <div class="field">
            <%= form.text_field :pqr_id, :value=>params[:id], :hidden=>true%>
          </div>

          <div class="actions">
            <%= form.submit name="Crear Comentario ", :class =>"btn" %>
          </div>

        <% end %>
      </div>
    <%end%>
 
</div>
  
<% end %>
