<%= content_for(:body_attributes, 'data-no-turbolink') %>

<p id="notice">
  <%= notice %>
</p>
<div class="">
  <!-- <p>
    <strong>Fecha:</strong>
    <%= @pqr.fecha %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @pqr.descripcion %>
  </p>

  <p>
    <strong>Archivo:</strong>
    <%= @pqr.archivo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @pqr.estado %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= @pqr.usuario.nombre %>
  </p>

  <p>
    <strong>Dependencium:</strong>
    <%= @pqr.dependencium.descripcion %>
  </p>

  <p>
    <strong>Respuesta:</strong>
    <%= @pqr.respuesta %>
  </p>-->

</div>
<div class="content">

  <% if usuario_actual %>
  |<% if @pqr.estado != true %>
    <%if usuario_actual.dependencium.descripcion != "usuarioNormal"%>
      <div class="int">
        <%= form_with url: "/prueba", method: "POST" do |form| %>

          <div class="input-field">
            <input type="number" value="<%=@pqr.id %>" name="pqr_id" hidden />
            <%= form.select :dependencium_id, Dependencium.all.collect{ |a| [ a.descripcion, a.id] }, {}, {:class => 'browser-default'} %>
          </div>

        <%= form.submit name="cambiar dependencia", :class =>"btn Cam" %>
      <% end %>
      </div>
    <%end%>
  <% end %>

  <% if usuario_actual %>
  <% if @pqr.estado != true %>
    <%if usuario_actual.rol.descripcion == "Super Admin" %>
      <div class="int">
        <%= form_with  url: "/respuesta", method: "POST" do |form| %>
          <div class="field">
          
          <input type="number" value="<%=@pqr.id %>" name="pqr_id" hidden />
            <%= form.label :respuesta %>
            <%= form.text_field :respuesta %>
          </div>

          <div class="actions">
            <%= form.submit name= "respuesta", :class =>"btn", :id => "coment" %>
          </div>
        <% end %>
      </div>
    <%end%>
  <%end%>
|<%end%>
<%end%>
</div>

<%= link_to 'Edit', edit_pqr_path(@pqr) %> |
<%= link_to 'Back', pqrs_path %>